
body {
	margin: 0;
	background-color: #fff;
	font-family: Lato, sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

h1, h2, h3 {
	margin: 0;
}

h3 {
	font-size: 1.17rem;
}

aside {
	background-color: #fd6766;
}


.SuperContainer {
	display: grid;
	grid-template-columns: minmax(70px, 120px) 1fr;
	grid-template-areas: ". form"
	                     "navi pelis";
	background-color: #f8f9fa;	                     
	/*margin-top: 15px;*/
	
}

.super {
	box-shadow: 3px 10px 5px 0px rgba(227,227,227,1);
	grid-area: form;
	display: grid;
	grid-template-columns: 25% 1fr;
	grid-template-areas: "supTitle supForm";
	align-items: center;
	grid-gap: 10px;
}

.title {
	grid-area: supTitle;
	/*justify-self: start;
	display: flex;
	align-items: center;
	margin-bottom: 5px;*/
}

.title img {
	max-width: 70px;
	max-height: 70px;
}

.title h1 {
	display: inline-flex;
	margin: 0 0 0 10px;
}

.secNavi {
	grid-area: supForm;
	display: grid;
	justify-items: center;

	
}

.secNavi div {
	width: 100%;
}




.form-inline {
	width: 100%;
}


.txtInput {
	width: 100%;
	padding: 10px;
	border-radius: .25em;
	border: 1px solid #b2b1b6;
}

.user {
	grid-area: subUser;
	justify-self: end;
}

.aUser {
	display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
}

.aUser:hover {
	color: #424242;	
}

.aUser img {
	max-width: 70px;
	max-height: 70px;
	border-radius: 50%;
	margin: 0 15px;
}

.aUser h3 {
	display: inline-flex;
}

.navSide {

    -webkit-transition: .3s ease-in-out;
    -most-transition:  .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index:1000;
	padding-top: 10px;
	width: 100%;
	grid-area: navi;
	display: grid;
	align-content: stretch;
	grid-template-rows: repeat(6, 15%);
	grid-template-areas: "home"
						 "favo"
						 "reco"
						 "mili"
						 "."
						 "setup";
	
}

.swClose {
	display: none;
}


.menuItem {
	padding-bottom: 16px;
	text-align: center;
}

.menuItem a {
	color: #fff;
}

.switch {
	display: none;
}

.liHome {
	grid-area: home;
}

.liFavo {
	grid-area: favo;
}

.liReco {
	grid-area: reco;
}

.liMili {
	grid-area: mili;
}

.liSetup {
	grid-area: setup;
}
.movies {
	grid-area: pelis;
	display: grid;
	padding: 20px;
	align-content: start;
	background-color: #fff;
}

.movies h2 {
	margin-bottom: 15px;
	font-family: Lato, sans-serif;
}

.inTheatres {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	justify-content: start;
	overflow: hidden;
	margin-bottom: 15px;
}

.auxi {
	color: #fff;
}

.inTheatres a {
	position: relative;

}

.inTheatres a:hover > .overlay  {
	top: 0;
}

.inTheatres img {
	width: 100%;
	/*object-fit: cover;*/
}

.overlay {
	position: absolute;
	top: 95%; bottom: 0; left: 0; right: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: hidden;
	transition: .3s;

}

.overlay h3, .overlay p {
	padding: 10px;
	font-family: Lato, sans-serif;
}


.txtOverLay {
	font-size: .8rem;

}

@media (min-width: 980px) {
	.inTheatres a {
		height: 25vh;
}

}
@media (max-width: 980px) {
	h1 {
		font-size: 1.5rem;
	}

@media (max-width: 767px) {

	aside {
		background-color: rgba(253, 103, 102, .9)
	}

	.SuperContainer {
		grid-template-columns: 1fr;
		grid-template-areas: "form"
		                     "pelis";

	}

	.super {
		display: grid;
		grid-template-columns: 1fr .5fr;
		
		grid-template-areas: "supTitle supButton" 
		                     "supForm supForm"
		                     ;
	}

	.navSide {
		left: -100%;
	    grid-template-rows: 5% repeat(5, .07fr);
		grid-template-areas: "swClose"
							 "home"
							 "favo"
							 "reco"
							 "mili"
					 		"setup";
		align-content: start;
	    position: fixed;
	    height: 100vh;
		align-content: start;
	   
	}

	.navSide.active {
        left: 0%;
	}

	.swClose {
		grid-area: swClose;
		justify-self: end;
		color: #fff;
		padding-right: 30px;
		display: inline-block;
	}

	.switch {
		display: inline-block;
		cursor: pointer;
		color: #fd6766;

	}

	.menuItem {
		padding-bottom: 0;
	}

	.menuP {
		font-size: 1.5em;
	}


	.inTheatres {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, .333fr);
		grid-gap: 50px;
		margin-bottom: 10px;

}



	.overlay {
		top: 0%;
}